.card-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    transition: box-shadow 0.3s ease-in-out;
    
}

.card-container:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.card-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    margin: 4px 0;
}

.card-date {
    font-size: 0.9rem;
    color: #888;
    margin: 8px 0;
}

.card-buttons {
    display: flex;
    gap: 8px;
    
}

/* Accept Button */
.accept-button {
    display: inline-block;
    padding: 0.5rem 1rem; /* Smaller padding */
    border-radius: 2rem; /* Smaller border radius for a more compact look */
    color: #fff;
    background-color: #4CAF50; /* Green */
    border: 1px solid #45a049; /* Slightly darker green with a smaller border */
    text-transform: uppercase;
    font-size: 0.875rem; /* Smaller font size */
    letter-spacing: 0.05rem; /* Reduced letter spacing */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  
  .accept-button:hover,
  .accept-button:focus {
    background-color: #5cbf60; /* Lighter green on hover */
    border-color: transparent; /* Make border invisible */
    box-shadow: inset 0 -2.5em 0 0 #6fdb72; /* Lighter green shadow */
  }
  
  /* Reject Button */
  .reject-button {
    display: inline-block;
    padding: 0.5rem 1rem; /* Smaller padding */
    border-radius: 2rem; /* Smaller border radius */
    color: #fff;
    background-color: #f44336; /* Red */
    border: 1px solid #e53935; /* Slightly darker red with a smaller border */
    text-transform: uppercase;
    font-size: 0.875rem; /* Smaller font size */
    letter-spacing: 0.05rem; /* Reduced letter spacing */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  
  .reject-button:hover,
  .reject-button:focus {
    background-color: #f55d4a; /* Lighter red on hover */
    border-color: transparent; /* Make border invisible */
    box-shadow: inset 0 -2.5em 0 0 #f76f6b; /* Lighter red shadow */
  }
  
  
  

.instructor-info-wrapper:hover{
    cursor: pointer;
}

